* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "lexendeca";
  src: url(font/lexend-deca-v17-latin-regular.ttf);
  font-weight: 400;
}
@media (min-width: 320px) {
}

body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  margin-top: 150px;
  margin-left: 400px;
  font-family: lexendeca;
  font-size: 15px;
}

ul {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  width: 600px;
  padding: 20px;
}
ul li {
  list-style: none;
}
img {
  width: 20%;
  height: 20%;
  padding-bottom: 20px;
}
h2 {
  padding-bottom: 20px;
  color: hsl(0, 0%, 95%);
}
p {
  color: hsl(0, 0%, 100%, 0.75);
}
.first {
  background-color: hsl(31, 77%, 52%);
  padding: 20px;
  border-radius: 10px 0 0 10px;
}
.second {
  background-color: hsl(184, 100%, 22%);
  padding: 20px;
}
.third {
  background-color: hsl(179, 100%, 13%);
  padding: 20px;
  border-radius: 0 10px 10px 0;
}
button {
  border-radius: 20px;
  padding: 5px;
  border-color: hsl(0, 0%, 100%, 0.75);
  margin-top: 60px;
}
button:hover {
  cursor: pointer;
  background-color: transparent;
}
